img {
    clip-path: polygon(0 0, 80% 0%, 100% 0, 90% 48%, 77% 100%, 0 100%, 0% 80%, 0% 20%);
}
body {
    display: flex;
} 
p {
    clip-path: polygon(26% 0, 80% 0%, 100% 0, 100% 49%, 100% 100%, 0 100%, 6% 81%, 20% 19%);
} 